name: Discord Notification

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Send Discord Notification
        uses: tsickert/discord-webhook@v6.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}  # <-- dùng đúng tên secret
          username: "GitHub"
          avatar-url: "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          embeds: |
            [
              {
                "title": "New Push on GitHub",
                "description": "A new commit has been pushed!",
                "color": 3066993,
                "fields": [
                  {
                    "name": "Branch",
                    "value": "${{ github.ref }}",
                    "inline": true
                  },
                  {
                    "name": "Commit",
                    "value": "[${{ github.sha }}](https://github.com/${{ github.repository }}/commit/${{ github.sha }})",
                    "inline": true
                  },
                  {
                    "name": "Author",
                    "value": "${{ github.actor }}",
                    "inline": true
                  }
                ],
                "footer": {
                  "text": "GitHub Actions Notification"
                },
                "timestamp": "${{ github.event.head_commit.timestamp }}"
              }
            ]
            
